.sfondo{
	-fx-background-image: url("IMG/Sfondo.png");
	-fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;
}

.form{
	-fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.label-login-registrazione{
	-fx-font-weight: bold;
}

.campi{
	-fx-background-radius: 10px;
	-fx-padding: 8px;
}

.tasto{
    -fx-background-color: #2207bb;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-opacity: 1.0;
    -fx-font-size: 14px;
}

.tasto:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-opacity: 0.9;
    -fx-font-size: 15px;
}